<% if answer %>
	<% qid = answer.question.id %>
	<% question_data = answer.question.parse_question_data %>
	<div class="class_form">
		<% question_data.each_with_index do |data, index| %>
			<div id="ballot_<%= qid %>_<%= index %>">
				<input type="text" name="answer[<%= qid %>][<%= index %>]" id="rankdata_<%= qid %>_<%= index %>" />
				<% options = JSON.parse(data["options"]) %>
				<ol id="sortable_<%= qid %>_<%= index %>" class="rankings">
					<% options.each_with_index do |option, i| %>
						<ul id="ranking_<%= i %>" class="ui-state-default ranking">
							<span class="ui-icon ui-icon-arrowthick-2-n-s"/>
							<%= option %>
						</ul>
					<% end %>
				</ol>
				<script>
					$("#sortable_<%= qid %>_<%= index %>").disableSelection();
					$("#sortable_<%= qid %>_<%= index %>").sortable({ axis: "y", containment: "#ballot_<%= qid %>_<%= index %>" });
					$("form").submit(function() {
					 	$('#rankdata_<%= qid %>_<%= index %>').val($( "#sortable_<%= qid %>_<%= index %>" ).sortable("toArray"));						 	
					 	alert($( "#sortable_<%= qid %>_<%= index %>" ).sortable("serialize"));
					});
				</script>
			</div>
		<% end %>
	</div>
<% end %>

