<%= form_for [@survey_form, @survey_response] do |f| %>
  <% if @survey_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_response.errors.count, "error") %> prohibited this survey_response from being saved:</h2>

      <ul>
      <% @survey_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% f.fields_for :answers do |answer_fields| %>    
      <div class="field">
        <%= answer_fields.label :question_id %><br>
        <%= answer_fields.text_field  :question_id %>
      </div>

      <div class="field">
        <%= answer_fields.label :answer_data %><br>
        <%= answer_fields.text_field :answer_data %>
      </div>
      <div class="field">
        <%= answer_fields.label :time_to_answer %><br>
        <%= answer_fields.text_field :time_to_answer %>
      </div>    
  <% end %>

  <div class="field">
    <%= f.label :survey_form_id %><br>
    <%= f.text_field :survey_form_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>  
  <div class="field">    
    <%= f.hidden_field :time_to_answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
