<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @response.question %>
</p>

<p>
  <strong>User:</strong>
  <%= @response.user %>
</p>

<p>
  <strong>Answer data:</strong>
  <%= @response.answer_data %>
</p>

<p>
  <strong>Time:</strong>
  <%= @response.time %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
