<div class="field" id="<%= type %>_question_data">
      <%= f.label :question_data %><br>
      <%= f.text_field :question_data %>
</div>
<div class="field" id="<%= type %>_answer_specs">
  <%= f.label :answer_specs %><br>
  <%= f.text_field :answer_specs %>
</div>