<%= form_for [@survey_form, @question] do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :question_title %><br>
    <%= f.text_area :question_title %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select (:type) do %>
      <% @types.each do |type, class_name| %>
        <%= content_tag(:option, type, value: type) %>
      <% end %>
    <% end %>
  </div>
  <% if @qtype %>
    <%= render "survey_builder/questions/types/#{@qtype_cname}" , :question => @question.becomes(@qtype) , :f => f , :type => @qtype_cname %>
  <% else %>
    <% @types.each do |type, class_name| %>
      <%= render "survey_builder/questions/types/#{type}" , :question => @question.becomes(class_name) , :f => f , :type => type %>    
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
