<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Question title:</strong>
  <%= @question.question_title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.type %>
</p>

<p>
  <strong>Question data:</strong>
  <%= @question.question_data %>
</p>

<p>
  <strong>Answer specs:</strong>
  <%= @question.answer_specs %>
</p>

<p>
  <strong>Position:</strong>
  <%= @question.position %>
</p>

<%= link_to 'Edit', edit_survey_form_question_path(@question.survey_form_id, @question.id) %>| |
<%= link_to 'Back', survey_form_questions_path(@question.survey_form_id, @question.id) %>
