<%= f.fields_for :answers do |form|%>  
  <h3><%= form.object.question.question_title %></h3>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
  <%= f.hidden_field :question_id, value: form.object.question.id %>
  <%= render "survey_builder/answers/types/#{get_type_from_class_name(form.object.question.type)}" , :f => form, :question => form.object.question %>

<% end %>